@import 'sprite';

$colorBtn : #E2CF83;
$lineHeight : 34.6px;

.btn, .btn-large {
	background-color: $colorBtn;
	text-transform: inherit;

	&:hover {
		background-color: #E5CC40;
	}
}

/* MENU */
#hero {
	width: 100%;
	height: 100vh;
	background-size: 100% 100%;
	float: left;
	position: relative;
	background-image: url(../img/bg-home.png);

	.content {
		margin: 48px;
		padding: 45px 48px;

		.lang {
			margin: 3px 21px;
			line-height: 15px;
		}

		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
			background-color: #fff;
		}

		.main-text {
			margin: 15% auto 12%;
		}

		.box-scroll {
			position: absolute;
			bottom: 118px;
			left: 50%;
			width: 156px;
			height: 80px;
			margin-left: -78px!important;

			.arrow-scroll {
				@include sprite($arrow-scroll);
				position: absolute;
				top: 30px;
				left: 50%;
				margin-left: -20px;
				-webkit-animation: bounce 1s infinite;
			}
		}

		@-webkit-keyframes bounce {
			0%       { top: 30px; }
			25%, 75% { top: 38px; }
			50%      { top: 40px; }
			100%     { top: 30px; }
		}

		.check-booking {
			width: 560px;
			height: 75px;
			background-color: #fff;
			position: absolute;
			bottom: 13px;
			left: 50%;
			margin-left: -280px;
			padding: 16px;

			.calendar {
				width: 157px;
				height: 45px;
				line-height: 45px;
				position: relative;

				input {
					border: 1px solid #E6E6E6;
					padding: 0 14px;
					width: 120px;
					cursor: pointer;
					box-sizing: border-box;
				}

				.box-calendar {
					position: absolute;
					right: 0;
					top: 0;
					width: 38px;
					height: 45px;
					border: 1px solid #E6E6E6;

					.icon-calendar {
						@include sprite($calendar);
						margin: 7px auto;
					}
				}

				&:first-child {
					margin-right: 14px;
				}
			}

			.btn {
				width: 160px;
				height: 42px;
				line-height: 42px;
				padding: 0;
				margin-left: 24px;
			}
		}

	}
}

#modal {
	position: fixed;
	top: 100vh;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;

	.fundo {
		width: 100%;
		height: 100%;
		z-index: 101;
		opacity: 0.9;
		background-color: rgba(0, 0, 0, 0.9);
	}

	.hamburger {
		position: absolute;
		top: 45px;
		z-index: 102;

		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
			background-color: #fff
		}
	}

	.text-left {
		position: absolute;
		left: 30%;
		top: 17%;
		z-index: 102;
	}

	.text-right {
		position: absolute;
		right: 30%;
		top: 17%;
		z-index: 102;
	}

	.text-left, .text-right {
		a {
			display: block;

			&.active, &:hover {
				text-decoration: line-through
			}
		}
	}

	.newsletter {
		margin-top: 20px;
		width: 110%;

		p {
			margin-bottom: 5px;
			line-height: $lineHeight;
		}

		::-webkit-input-placeholder {
			font-style: italic;
		}
		:-moz-placeholder {
			font-style: italic;
		}
		::-moz-placeholder {
			font-style: italic;
		}
		:-ms-input-placeholder {
			font-style: italic;
		}
	}
	.lang {
		position: absolute;
		left: 17%;
		bottom: 12%;

		a {
			margin-right: 7px
		}
	}
}

/* HOME */
#rooms {
	padding: 93px 0 150px;
	clear: both;
	float: left;
	width: 100%;

	h3 {
		margin: 40px 0 30px;
		line-height: 1
	}

	p {
		line-height: $lineHeight;
		letter-spacing: 0.02em;
	}

	.btn-large {
		margin: 60px 0 138px;
	}

	.m5.left {
		margin-bottom: 70px;
	}

	.m7 {
		padding-left: 60px;
		margin-bottom: 150px;

		p {
			text-align: justify;
		}
	}
}

#restaurants {
	background-color: #F4F3F3;
	position: relative;
	float: left;
	clear: both;
	width: 100%;

	p {
		line-height: 41.6px
	}

	h2 {
		margin-top: -108px;
	}

	.types {
		min-height: 100vh;
	    margin-top: 130px;
	    clear: both;
	    float: left;
	    width: 100%;

		.m12 {
			margin: 270px 0 0;

			p {
				line-height: $lineHeight;
				padding-left: 0!important
			}
		}

		.m6 {
			padding: 0!important;
		}

		img {
			height: 100vh;
			width: 100%
		}

		.btn-large {
			margin: 60px 0;
			clear: both;
		}
	}
}

#more {
	padding: 140px 0 235px;

	h2 {
		margin-bottom: 230px
	}

	.box-news {
		padding: 55px 40px 45px;
		margin-bottom: 29px;


		h3 {
			margin: 0;
		}
	}

	.box-experiences {
		padding: 0;
		margin-left: -100px;

		.description {
			padding: 40px 55px 55px
		}
	}

	.box-facilities {
		.description {
			padding: 25px 25px 40px
		}
	}

	a {
		color: #000;
		border-bottom: 1px solid #F495AC;
		margin-top: 45px;
		float: left;
	}
}

/* ACCOMODATIONS */
#intern {
	padding: 125px 0;

	.info {
		.a-light {
			letter-spacing: -0.02em;
			line-height: $lineHeight;
			margin-bottom: 120px
		}
	}

	.card {
		width: 49%;

		&:nth-child(even) {
			float: right;
		}

		h2 {
			margin-top: 15px;
		}

		.btn-large {
			margin: 40px auto 30px;
			float: none;
			display: block;
		}

		.extended {
			p {
				line-height: $lineHeight;
				margin: 30px 0;
			}

			&.no-booking {
				.m4 {
					width: 37%;

					&:last-child {
						width: 26%;
						float: right;
					}
				}
			}

			.check-booking {
				margin-top: 40px;

				.calendar {
					width: 157px;
					height: 45px;
					line-height: 45px;
					position: relative;

					input {
						border: 1px solid #E6E6E6;
						padding: 0 14px;
						width: 120px;
						cursor: pointer;
						box-sizing: border-box;
					}

					.box-calendar {
						position: absolute;
						right: 0;
						top: 0;
						width: 38px;
						height: 45px;
						border: 1px solid #E6E6E6;

						.icon-calendar {
							@include sprite($calendar);
							margin: 7px auto;
						}
					}

					&:first-child {
						margin-right: 14px;
					}
				}

				.btn {
					width: 160px;
					height: 42px;
					line-height: 42px;
					margin: 25px auto;
					display: block;
					padding: 0
				}
			}
		}
	}
}

/* PRIVACY POLICE */
#layout-two {
	#menu {
		height: 111px;
		border-bottom: 2px solid #ececec;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		padding: 33px 0;
		z-index: 10;

		.check-booking {
			.calendar {
				width: 157px;
				height: 45px;
				line-height: 45px;
				position: relative;

				input {
					border: 1px solid #E6E6E6;
					padding: 0 14px;
					width: 120px;
					cursor: pointer;
					box-sizing: border-box;
				}

				.box-calendar {
					position: absolute;
					right: 0;
					top: 0;
					width: 38px;
					height: 45px;
					border: 1px solid #E6E6E6;

					.icon-calendar {
						@include sprite($calendar);
						margin: 7px auto;
					}
				}

				&:first-child {
					margin-right: 14px;
				}
			}

			.btn {
				width: 160px;
				height: 42px;
				line-height: 42px;
				margin: 0 20px;
				display: block;
				padding: 0
			}
		}

		.hamburger {
			margin-top: -3px!important
		}
	}

	h1 {
		margin: 65px auto 10px;
	}

	.text {
		p {
			font-size: 18px;
			line-height: 37.6px;
			font-family: 'alright_sanslight';
			margin-top: 50px;
			color: #434343;
		}

		h2 {
			margin: 115px 0 -33px;
		}
	}

	#footer {
		.main {
			background-color: #f2f1f1;
		}

		.footer-gray {
			background-color: #fff;
		}
	}
}

/* ABOUT US */
.our-story {
	margin-bottom: 180px;

	p {
		color: #434343;
		line-height: 41.6px;
		margin-top: 10px
	}
}

.content-about {
	h2 {
		margin: 125px auto 50px;
	}

	.col.m12 {
		width: 98%;

		p {
			margin-bottom: 45px;
			font-size: 18px;
			line-height: $lineHeight;
			color: #434343;
			font-family: 'alright_sanslight';
		}
	}
}

/* CONGRATULATIONS */
.no-booking {
	.check-booking {
		display: none;
	}
}
.congratulations {
	h1 {
		margin-top: 90px!important
	}

	p {
		color: #434343;
		line-height: $lineHeight;
		margin-top: 70px
	}

	.btn {
		margin: 40px auto;
		width: 202px;
		height: 48px;
		line-height: 48px;
		display: block;
	}
}

/* ARTICLE */
#layout-two .article {
	margin: 160px auto;
}

.published {
	color: #f495ac;
	margin-top: 60px;
}

.shares {
	margin: 60px 0 174px;

	.left {
		margin-left: 10px;
	}
}

.border {
	border-bottom: solid 1px #eaeaea;
	clear: both;
}

.text-italic {
	margin-bottom: 75px;

	p {
		font-style: italic;
		line-height: $lineHeight;
		color: #434343;
		margin: 85px auto 45px;
	}

	.btn {
		width: 210px;
		height: 55px;
		line-height: 55px;
		display: block;
		padding: 0 18px;
	}
}

/*  FOOTER */
#footer {
	clear: both;

	.main {
		padding: 75px 0;

		.logo {
			margin: 0 20px 65px;
			display: block;
			width: 206px;
		}

		p, a {
			line-height: 40.6px;
			color: #555;
		}

		ul {
			margin-right: 35px
		}
	}

	.footer-gray {
		background-color: #F4F3F3;
		padding: 28px 0;

		.networks {
			a {
				float: left;
				margin-left: 34px;
			}
			.instagram {
				@include sprite($instagram);
			}
			.facebook {
				@include sprite($facebook);
			}
			.twitter {
				@include sprite($twitter);
			}
		}
		.links {
			a {
				color: #959595;
				margin-left: 15px
			}
		}
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (min-width: 1200px) and (max-width: 1679px) {
	#restaurants {
		h2 {
			margin-top: -80px
		}
		.offset-m1.m6 {
			width: 75%;
		}
	}
	#more {
		.m5 {
			width: 50%;
			margin-left: 0
		}
		.box-experiences {
			margin-left: 0;
			width: 100%
		}
	}

	#intern {
		.info {
			.m3 {
				width: 40%;
			}
		}
	}

	.congratulations {
		h1 {
			margin-top: 55px!important;
		}

		p {
			color: #434343;
			line-height: $lineHeight;
			margin-top: 40px
		}

		.btn {
			margin: 40px auto;
			width: 202px;
			height: 48px;
			line-height: 48px;
			display: block;
		}
	}

	.f58 { font-size: 41px; }
	.f60 { font-size: 46px; }
	.f145 { font-size: 100px; }
	.f192 { font-size: 132px; }
	.f200 { font-size: 140px; }
}
