$colorBtn :  #E2CF83;

#hero {
	width: 100%;
	height: 100vh;
	background-size: 100% 100%;
	float: left;
	position: relative;

	.content {
		margin: 48px;
		padding: 45px 48px;

		.lang {
			margin: 3px 21px;
			line-height: 15px;
		}

		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
			background-color: #fff;
		}

		.main-text {
			margin: 15% auto 12%;
		}

		.box-scroll {
			position: absolute;
			bottom: 118px;
			left: 50%;
			width: 156px;
			height: 80px;
			margin-left: -78px!important;

			.arrow-scroll {
				background-image: url(../img/arrow-scroll.png);
				width: 39px;
				height: 39px;
				position: absolute;
				top: 30px;
				left: 50%;
				margin-left: -20px;
				-webkit-animation: bounce 1s infinite;
			}
		}

		@-webkit-keyframes bounce {
			0%       { top: 30px; }
			25%, 75% { top: 38px; }
			50%      { top: 40px; }
			100%     { top: 30px; }
		}

		.check-booking {
			width: 560px;
			height: 75px;
			background-color: #fff;
			position: absolute;
			bottom: 13px;
			left: 50%;
			margin-left: -280px;
		}

	}

	&.home {
		background-image: url(../img/bg-home.png);
	}
}

#rooms {
	padding: 93px 0 150px;
	clear: both;
	float: left;
	width: 100%;

	h3 {
		margin: 40px 0 30px;
		line-height: 1
	}

	p {
		line-height: 34.6px;
		letter-spacing: 0.02em;
	}

	.btn {
		background-color: $colorBtn;
		text-transform: inherit;
		width: 227px;
		height: 55px;
		line-height: 55px;
		margin: 60px 0 138px;
	}

	.m5.left {
		margin-bottom: 70px;
	}

	.m7 {
		padding-left: 60px;
		margin-bottom: 150px;

		p {
			text-align: justify;
		}
	}
}

#restaurants {
	background-color: #F4F3F3;
	position: relative;
	float: left;
	clear: both;
	width: 100%;

	p {
		line-height: 41.6px
	}

	h2 {
		margin-top: -108px;
	}

	.types {
		min-height: 100vh;
	    margin-top: 130px;
	    clear: both;
	    float: left;
	    width: 100%;

		.m12 {
			margin: 270px 0 0;

			p {
				line-height: 34.6px;
				padding-left: 0!important
			}
		}

		.m6 {
			padding: 0!important;
		}

		img {
			height: 100vh;
			width: 100%
		}

		.btn {
			background-color: $colorBtn;
			text-transform: inherit;
			width: 227px;
			height: 55px;
			line-height: 55px;
			margin: 60px 0;
			clear: both;
		}
	}
}

#more {
	padding: 140px 0 235px;

	h2 {
		margin-bottom: 230px
	}

	.box-news {
		padding: 55px 40px 45px;
		margin-bottom: 29px;


		h3 {
			margin: 0;
		}
	}

	.box-experiences {
		padding: 0;
		margin-left: -100px;

		.description {
			padding: 40px 55px 55px
		}
	}

	.box-facilities {
		.description {
			padding: 25px 25px 40px
		}
	}

	a {
		color: #000;
		border-bottom: 1px solid #F495AC;
		margin-top: 45px;
		float: left;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1679px) {
	#restaurants {
		h2 {
			margin-top: -80px
		}
		.offset-m1.m6 {
			width: 75%;
		}
	}
	#more {
		.m5 {
			width: 50%;
			margin-left: 0
		}
		.box-experiences {
			margin-left: 0;
			width: 100%
		}
	}

	.f58 { font-size: 41px; }
	.f60 { font-size: 46px; }
	.f200 { font-size: 140px; }
}