.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

p, h1, h2, ul {
	margin: 0;
	font-weight: normal
}

h3 {
	font-weight: normal
}

input {
	box-shadow: none;

	&:focus {
		border-bottom: 1px solid #E2CF83!important;
		box-shadow: 0 1px 0 0 #E2CF83!important
	}
}

button {
	&:focus {
		background: none;
	}
}

.btn, .btn-large {
	box-shadow: none
}

.btn-large {
	width: 227px;
	line-height: 54px;
}

.center-block {
	margin: 0 auto!important;
	float: none!important;
}

.hamburger {
	margin: -15px!important
}

.card {
	padding: 0;
	margin-bottom: 60px;
}

.picker__date-display, .picker--focused .picker__day--selected, .picker__day--selected, .picker__day--selected:hover {
	background-color: #E2CF83;
}

.picker__weekday-display {
	background-color: #E5CC40;
}

.picker__close, .picker__today, .picker__day.picker__day--today {
	color: #E5CC40;
}

.input-field label {
	top: 2rem;
}