.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

p, h1, h2, ul {
	margin: 0
}

button {
	&:focus {
		background: none;
	}
}

.btn-large {
	width: 227px;
	line-height: 54px;
}

.center-block {
	margin: 0 auto!important;
	float: none!important;
}

.hamburger {
	margin: -15px!important
}

.card {
	padding: 0;
	margin-bottom: 60px;
}


