$arrow-select: -0px -0px 11px 7px;
$checked: -0px -7px 11px 11px;
$calendar-bigger: -0px -19px 12px 13px;
$guest-icon: -0px -31px 10px 13px;
$twitter: -0px -44px 19px 17px;
$instagram: -0px -61px 18px 18px;
$facebook: -0px -79px 12px 21px;
$twitter-white: -0px -99px 27px 24px;
$calendar: -0px -123px 24px 26px;
$instagram-white: -0px -149px 26px 26px;
$icon-share: -0px -175px 24px 27px;
$facebook-white: -0px -202px 16px 30px;
$arrow-scroll: -0px -232px 42px 42px;
$arrow-scroll--dark-golden: -0px -273px 42px 42px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
   @return nth($sprite, 3);
}
@function sprite-height($sprite) {
   @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
   @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon {
  background-image: url('../img/sprite.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon {
    background-image: url('../img/sprite@2x.png');
    background-size: 42px 315px;
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 192dpi) {
  .icon {
    background-image: url('../img/sprite@3x.png');
    background-size: 42px 315px;
  }
}
